body{
    background-color: beige;
}


#box2{
    width: 73vw;
    height: 33vh;

    border-style: solid;
    border-radius:3px;
    border-color:purple;

    position:absolute;
    bottom: 0;
    left: 0;


    background-color: mediumvioletred;
}

#box3{
position: sticky;

top: 0;


width: 73vw;
height: 175vh;
border-radius: 10px;
background-color: orangered;
}
